body {
        background-color: #ffb5f6;
        font-family: monospace;
}

h1 {
        color: #7c7979;
        text-align: center;
        font-size: 35px;
}

.navbar {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
}

a {
        color: #fee8ff;
}

img {
        align-self: center;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.rblock {
        color: #595659;
}

h2 {
        font-size: 25px;
        font-style: italic;
        font-family: sans-serif;
}

.bio {
        text-align: center;
        width: 500px;
        margin: auto;
        border: 3px outset white;
}